#question-tree{
  position:relative;
  background-repeat:no-repeat;
  background-size:cover;
  padding-top:60px;
  padding-bottom:60px;
  min-height:700px;
}
.full-page-overlay{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background-color:rgba(0,0,0,.6);
  z-index:1;
}
.questions-start-over{
  position:absolute;
  z-index:3;
  text-align:center;
  left:50%;
  transform:translateX(-50%);
  bottom:15px;
}
.questions-start-over>a{
  color:#fff;
  font-style:italic;
  text-decoration:underline;
}
.questions-start-over>a:hover,
.questions-start-over>a:focus{
  color:#fff;
}
#question-tree article{
  position:relative;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  z-index:3;
  color:#fff;
  text-align:center;
}
#question-tree article h1{
  font-size:50px;
  text-transform:uppercase;
  margin-bottom:80px;
}
#question-tree article h1.sector-title{
  margin-bottom:40px;
}
#question-tree article p{
  font-size:28px;
  line-height:1.2em;
  margin-bottom:25px;
}
#question-tree article .btn-main{
  font-size:30px;
  padding:3px 60px;
  border-radius:60px;
  margin-top:60px;
  position:relative;
}
#qt-start.btn-main>.glyphicon-refresh{
  font-size:20px;
  position:absolute;
  top:16px;
  right:27px;
  opacity:1;
  transition:opacity .3s ease;
  animation:glyph-spin 2s infinite linear;
}
#qt-start.btn-main>.glyphicon-refresh.no-show{
  opacity:0;
}
@keyframes glyph-spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
#question-tree article ul{
  text-align:left;
  font-size:20px;
  text-transform:uppercase;
  margin-top:60px;
}
#question-tree article ul>li.radio{
  margin-top:20px;
  margin-bottom:20px;
  padding-left:30px;
}
#question-tree article label{
  font-weight:700;
}
#question-tree article input[type="radio"]{
  opacity:0;
}
#question-tree article input[type="radio"] + .radio-btn{
  position:absolute;
  top:-3px;
  left:0;
  height:36px;
  width:36px;
  background-image:url(images/radio-btns.png);
  background-position:0 -44px;
}
#question-tree article input[type="radio"]:checked + .radio-btn{
  background-position:0 0;
}

#qt-btn.btn-main.btn-hide{
  opacity:0;
}

#sectors-filter ul>li>ul,
#resources-filter ul>li>ul{
  padding-left:18px;
}
#sectors-filter li input,
#resources-filter li input{
  margin-right:5px;
  margin-left:-18px;
}
#sectors-filter label,
#resources-filter label{
  font-weight:400;
  margin-left:18px;
}

#spinner{
  position:relative;
  height:400px;
  width:100%;
}
#spinner .glyphicon-refresh{
  position:absolute;
  top:50%;
  left:50%;
  font-size:50px;
  transform:translate(-50%, -50%);
  animation:glyph-spin 2s infinite linear;
}

#qt-choices li.radio>label{
  display:inline;
}
#qt-choices li.radio>label>img{
  max-width:45px;
  display:inline-block;
  margin-right:7px;
  margin-bottom:5px;
}
#question-tree #qt-choices .radio-btn{
  top:5px;
}